*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    position: relative;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all .9s;
    font-size: 22px;
    text-align: center;
}
.content {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    margin: 100px 10px;
    border-radius: 50px;
}


#front{
    background-color: brown;
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
}

#back{
    background-color: burlywood;
    backface-visibility: hidden;
    position: absolute;
}

.flip{

    transform: rotateY(180deg);

}